<%= form_with(model: part, local: true) do |form| %>
  <% if part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(part.errors.count, "error") %> prohibited this part from being saved:</h2>

      <ul>
      <% part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :part_nombre %>
  </div>

  <div class="field">
    <%= form.label :desc %>
    <%= form.text_field :desc, id: :part_desc %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, id: :part_category %>
  </div>

  <div class="field">
    <%= form.label :products %>
    <%= form.text_field :products, id: :part_products %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
